.parent-square{
    height: 550px;
    width: 300px;
    background-color: gray;
  }
.squares{
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: orange; 
}
h1{
    margin: 30px;
    color: white;
}